<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Filmes</title>

    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- meu css -->
    <link href="css/estilo.css" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link href="../imagens/movies_icon.png" rel="icon" type="images/png" />
  </head>
  <body data-bs-theme="dark">
    <!-- header -->
    <header th:include="base :: header"></header>

    <!-- main -->
    <main>
        <div class="container mt-100">
            <h1>Lista de filmes</h1>
            <hr />
            <div class="row mt-5 mb-5">
                <div class="col-12 col-md-4 mb-5" th:each="filme : ${filmes}">
                    <h3><span th:text="${filme.titulo}"></span></h3>
                    <hr />
                    <p><b>Código do filme: </b><span th:text="${filme.codigoFilme}"></span></p>
                    <p><b>Direção: </b><span th:text="${filme.diretor}"></span></p>
                    <p><b>Gênero: </b><span th:text="${filme.genero}"></span></p>
                    <p><b>Ano: </b><span th:text="${filme.ano}"></span></p>
                    <p><b>Duração: </b><span th:text="${filme.duracao}"></span></p>
                    <p><b>Produtora: </b><span th:text="${filme.produtora}"></span></p>
                    <p><b>Distribuidora: </b><span th:text="${filme.distribuidora}"></span></p>
                    
                    <div class="row mb-5">
                    
                    <div class="col mt-5">
                     
                     <a class="btn btn-info" th:href="${(#mvc.url('FC#alterarFilme').arg(0,filme.codigoFilme)).build()}" role="button">EDITAR</a>
                     <a class="btn btn-danger" th:href="${(#mvc.url ('FC#excluir').arg(0,filme.codigoFilme)).build()}" role="button">Excluir</a>
                        

                    </div>
                    
                    </div>
                                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer th:replace="base :: footer"></footer>
    
    <!-- js bootstrap -->
    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>